:root {
  --green: hsl(123, 41%, 45%);
  --yellow: hsl(42, 79%, 50%);
  --grey: hsl(0, 0%, 46%);
}

body {
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2rem;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333
}

div.grid {
  display: grid;
  gap: 15px;
}

.row {
  display: flex;
  text-align: center;
  justify-content: center;
}

.row>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid #eee;
  margin: 4px;
  line-height: 60px;
  font-weight: bold;
  font-size: 2.3rem;
  text-transform: uppercase;

  &.correct {
    --background-color: var(--green);
    --border-color: var(--green);
    --color: white;
    animation: flip 1s ease forwards;
    -webkit-animation: flip 1s ease forwards;
  }

  &.includes {
    --background-color: var(--yellow);
    --border-color: var(--yellow);
    --color: white;
    animation: flip 1s ease forwards;
    -webkit-animation: flip 1s ease forwards;
  }

  &.wrong {
    --background-color: var(--grey);
    --border-color: var(--grey);
    --color: white;
    animation: flip 1s ease forwards;
    -webkit-animation: flip 1s ease forwards;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }

  &:nth-child(4) {
    animation-delay: 0.6s;
  }

  &:nth-child(5) {
    animation-delay: 0.8s;
  }
}

.row.current>div.active {
  animation: bounce 0.5s ease forwards;
  -webkit-animation: bounce 0.5s ease forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;

  & div {
    width: 40px;
    height: 50px;
    display: inline-block;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
    line-height: 50px;
    margin: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f9f9f9;
    }

    &.correct {
      --background-color: var(--green);
      --border-color: var(--green);
      --color: white;
      animation: flip 1s ease forwards;
      -webkit-animation: flip 1s ease forwards;
    }

    &.includes {
      --background-color: var(--yellow);
      --border-color: var(--yellow);
      --color: white;
      animation: flip 1s ease forwards;
      -webkit-animation: flip 1s ease forwards;
    }

    &.wrong {
      --background-color: var(--grey);
      --border-color: var(--grey);
      --color: white;
      animation: flip 1s ease forwards;
      -webkit-animation: flip 1s ease forwards;
    }
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);

  & div {
    max-width: 500px;
    background-color: #fff;
    padding: 40px;
    margin: 15% auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    & .solution {
      color: red;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 1.1rem;
    }

    & svg {
      margin-top: 20px;
      width: 25px;
      height: 25px;
      fill: var(--grey);
    }
  }
}

.errorModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 35%;
  top: 45px;
  width: 30%;
  height: 3rem;
  overflow: auto;
  background-color: rgba(52, 52, 52, 0.7);
  color: white;
  border-radius: 8px;
}

@keyframes flip {
  0% {
    background-color: #fff;

    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }

  45% {
    background-color: #fff;

    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }

  55% {
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--color);

    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }

  100% {
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--color);

    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
  }
}

@keyframes bounce {
  0% {
    border-color: #ddd;

    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  100% {
    border-color: #333;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}